<ion-header>
  <ion-toolbar>
    <ion-title>bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="header">
    <h1>Reserva tu cancha</h1>

  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12"></ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card><img src="../../assets/beautiful-stylish-girl-tennis-court.jpg" style="width: 100%; height: 550px;"></ion-card>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12" >
        <ion-card>
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Cancha 1 Tennis</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content" style="flex-direction: column;">
                <div class="container"> <ion-datetime></ion-datetime>
                  <img src="../../assets/tennis2.jpg" style="width: 200px; height: 100px;"></div>


              </div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header" color="light">
                <ion-label>Cancha 2 Tennis</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-datetime></ion-datetime>
              </div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header" color="light">
                <ion-label>Cancha 1 Padel</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-datetime></ion-datetime>
              </div>
            </ion-accordion>
            <ion-accordion value="fourth">
              <ion-item slot="header" color="light">
                <ion-label>Cancha 2 Padel</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-datetime></ion-datetime>
              </div>
            </ion-accordion>
            <ion-accordion value="five">
              <ion-item slot="header" color="light">
                <ion-label>Cancha 3 Padel</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-datetime></ion-datetime>
              </div>
            </ion-accordion>
            <ion-accordion value="six">
              <ion-item slot="header" color="light">
                <ion-label>Cancha 4 Padel</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-datetime></ion-datetime>
              </div>
            </ion-accordion>
            <ion-accordion value="seven">
              <ion-item slot="header" color="light">
                <ion-label>Cancha 5 Padel</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-datetime></ion-datetime>
              </div>
            </ion-accordion>
            <ion-accordion value="eight">
              <ion-item slot="header" color="light">
                <ion-label>Cancha 6 Padel</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-datetime></ion-datetime>
              </div>
            </ion-accordion>
          </ion-accordion-group>



        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>







</ion-content>
