<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="ion-page" id="main-content">
<ion-content>

  <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="12">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <ion-card>
            <swiper>
              <ng-template swiperSlide>
                <img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
              </ng-template>
              <ng-template swiperSlide><img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
              </ng-template>
              <ng-template swiperSlide>Slide 3</ng-template>
            </swiper>
            <ion-card-header>
              <ion-card-title>INDIVIDUAL</ion-card-title>
            </ion-card-header>

          </ion-card>
        </div>

        <div class="flip-card-back">
          <div class="overlay">
            <span>Inscripcion Anual: <br>$8,000.00 <br><br>Inscripcion Mensual: <br>$2,800.00</span>
          </div>
        </div>
      </div>
    </div>


  </ion-col>


  <!--        <ion-col size-lg="3" size-md="3" size-sm="12" size-xs="12">-->
  <!--          <div class="flip-card">-->
  <!--            <div class="flip-card-inner">-->
  <!--              <div class="flip-card-front">-->
  <!--                <ion-card>-->
  <!--                  <img src="../../../assets/instalaciones2.jpg" alt="GOSA" style="width:100%;">-->
  <!--                  <ion-card-header>-->
  <!--                    <ion-card-title>DUO</ion-card-title>-->
  <!--                  </ion-card-header>-->
  <!--                </ion-card>-->
  <!--              </div>-->
  <!--              <div class="flip-card-back">-->
  <!--                <div class="overlay">-->
  <!--                  <span>Inscripcion Anual: <br>$8,000.00 <br><br>Inscripcion Mensual: <br>$2,800.00</span>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </ion-col>-->

  <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="12">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <ion-card>
            <swiper>
              <ng-template swiperSlide>
                <img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
              </ng-template>
              <ng-template swiperSlide><img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
              </ng-template>
              <ng-template swiperSlide>Slide 3</ng-template>
            </swiper>
            <ion-card-header>
              <ion-card-title>FAMILIAR</ion-card-title>
            </ion-card-header>

          </ion-card>
        </div>

        <div class="flip-card-back">
          <div class="overlay">
            <span>Inscripcion Anual: <br>$8,000.00 <br><br>Inscripcion Mensual: <br>$2,800.00</span>
          </div>
        </div>
      </div>
    </div>


  </ion-col>


  <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="12">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <ion-card>
            <swiper>
              <ng-template swiperSlide>
                <img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
              </ng-template>
              <ng-template swiperSlide><img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
              </ng-template>
              <ng-template swiperSlide>Slide 3</ng-template>
            </swiper>
            <ion-card-header>
              <ion-card-title>FAMILIAR</ion-card-title>
            </ion-card-header>

          </ion-card>
        </div>

        <div class="flip-card-back">
          <div class="overlay">
            <span>Inscripcion Anual: <br>$8,000.00 <br><br>Inscripcion Mensual: <br>$2,800.00</span>
          </div>
        </div>
      </div>
    </div>


  </ion-col>


  <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="12">
    <div class="flip-card">
      <div class="flip-card-inner">

        <ion-card>
          <swiper>
            <ng-template swiperSlide>
              <img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
            </ng-template>
            <ng-template swiperSlide><img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
            </ng-template>
            <ng-template swiperSlide>Slide 3</ng-template>
          </swiper>
          <ion-card-header>
            <ion-card-title>FAMILIAR</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>

      <div class="flip-card-back">
        <div class="overlay">
          <span>Inscripcion Anual: <br>$8,000.00 <br><br>Inscripcion Mensual: <br>$2,800.00</span>
        </div>
      </div>
    </div>
  </ion-col>

</ion-content>
</div>
