<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="container">

    </ion-toolbar>
  </ion-header>

<ion-content>


    <div class="header">
      <h1>Membresias</h1>

    </div>



  <ion-grid>
    <ion-row>



    <div class="columns">
      <ul class="price">
        <li class="headers">INDIVIDUAL</li>
        <li class="grey">INSCRIPCION-ANUAL</li>
        <li>$ 5,0000.00</li>
        <li class="grey">INSCRIPCION-MENSUAL</li>
        <li>$ 21,500.00</li>

        <li class="grey"><a href="#" class="buttons">INSCRIBETE</a></li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="headers">DUO</li>
        <li class="grey">INSCRIPCION-ANUAL</li>
        <li>$ 8,0000.00</li>
        <li class="grey">INSCRIPCION-MENSUAL</li>
        <li>$ 2,800.00</li>
        <li class="grey"><a href="#" class="buttons">INSCRIBETE</a></li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="headers">GRUPAL</li>
        <li class="grey">INSCRIPCION-ANUAL</li>
        <li>$ 18,0000.00</li>
        <li class="grey">INSCRIPCION-MENSUAL</li>
        <li>$ 5,700.00</li>
        <li class="grey"><a href="#" class="buttons">INSCRIBETE</a></li>
      </ul>
    </div>
    <div class="columns">
      <ul class="price">
        <li class="headers">FAMILIAR</li>
        <li class="grey">INSCRIPCION-ANUAL</li>
        <li>$ 18,0000.00</li>
        <li class="grey">INSCRIPCION-MENSUAL</li>
        <li>$ 1,500.00</li>
        <li class="grey"><a href="#" class="buttons">INSCRIBETE</a></li>
      </ul>
    </div>

    </ion-row>
  </ion-grid>
</ion-content>

</div>
