<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="container">
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">

    <div class="container">
      <swiper>
        <ng-template swiperSlide>
          <div class="fullscreen-bg" style="scale: 99.9%">
            <video autoplay="autoplay" loop="loop" style="width: 100%; height: 100%;">
              <source src="./assets/video/intro.mp4">
            </video>
            <div class="marca">
              Richard
            </div>
          </div>
        </ng-template>
      </swiper>

    </div>



    <ion-grid>
      <ion-row>

        <ion-col size="12">
          <div class="container"><h1 style="text-align: center">MEMBRESIAS</h1>
          </div>
        </ion-col>


        <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12">

          <div class="card">
            <img src="../../../assets/instalaciones2.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Individual-Anual</h1>
            <p class="price">$5,000.00</p>
            <h1>Individual-Mensual</h1>
            <p class="price">$1,500.00</p>
            <p><button>Mas informacion</button></p>
          </div>

        </ion-col>
        <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12">

          <div class="card">
            <img src="../../../assets/instalaciones2.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Duo-Anual</h1>
            <p class="price">$8,000.00</p>
            <h1>Duo-Mensual</h1>
            <p class="price">$2,800.00</p>
            <p><button>Mas informacion</button></p>
          </div>

        </ion-col>
        <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12">

          <div class="card">
            <img src="../../../assets/instalaciones2.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Grupal-Anual</h1>
            <p class="price">$18,000.00</p>
            <h1>Grupal-Mensual</h1>
            <p class="price">$5,700.00</p>
            <p><button>Mas informacion</button></p>
          </div>

        </ion-col>
        <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12">

          <div class="card">
            <img src="../../../assets/instalaciones2.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Grupal-Anual</h1>
            <p class="price">$18,000.00</p>
            <h1>Grupal-Mensual</h1>
            <p class="price">$1,500.00</p>
            <p><button>Mas informacion</button></p>
          </div>

        </ion-col>

<!--

        <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <ion-card class="flip-card-front">
                <swiper>
                  <ng-template swiperSlide>
                    <img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
                  </ng-template>
                  <ng-template swiperSlide><img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
                  </ng-template>
                  <ng-template swiperSlide>Slide 3</ng-template>
                </swiper>
                <ion-card-header>
                  <ion-card-title>{{ loadedCanchas[0].title }}</ion-card-title>
                  <p>{{loadedCanchas[0].description}}</p>
                </ion-card-header>
              </ion-card>
              <div class="flip-card-back">
                <div class="overlay">
                  <span>Inscripcion Anual: <br>$8,000.00 <br><br>Inscripcion Mensual: <br>$2,800.00</span>
                </div>
              </div>
            </div>
          </div>
        </ion-col>

        <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <ion-card class="flip-card-front">
                <swiper>
                  <ng-template swiperSlide>
                    <img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
                  </ng-template>
                  <ng-template swiperSlide><img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
                  </ng-template>
                  <ng-template swiperSlide>Slide 3</ng-template>
                </swiper>
                <ion-card-header>
                  <ion-card-title>{{ loadedCanchas[0].title }}</ion-card-title>
                  <p>{{loadedCanchas[0].description}}</p>
                </ion-card-header>
              </ion-card>
              <div class="flip-card-back">
                <div class="overlay">
                  <span>Inscripcion Anual: <br>$8,000.00 <br><br>Inscripcion Mensual: <br>$2,800.00</span>
                </div>
              </div>
            </div>
          </div>
        </ion-col>

        <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <ion-card class="flip-card-front">
                <swiper>
                  <ng-template swiperSlide>
                    <img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
                  </ng-template>
                  <ng-template swiperSlide><img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
                  </ng-template>
                  <ng-template swiperSlide>Slide 3</ng-template>
                </swiper>
                <ion-card-header>
                  <ion-card-title>{{ loadedCanchas[0].title }}</ion-card-title>
                  <p>{{loadedCanchas[0].description}}</p>
                </ion-card-header>
              </ion-card>
              <div class="flip-card-back">
                <div class="overlay">
                  <span>Inscripcion Anual: <br>$8,000.00 <br><br>Inscripcion Mensual: <br>$2,800.00</span>
                </div>
              </div>
            </div>
          </div>
        </ion-col>



        <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12">
          <div class="flip-card">
            <div class="flip-card-inner">
              <ion-card class="flip-card-front">
                <swiper>
                  <ng-template swiperSlide>
                    <img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
                  </ng-template>
                  <ng-template swiperSlide><img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
                  </ng-template>
                  <ng-template swiperSlide>Slide 3</ng-template>
                </swiper>
                <ion-card-header>
                  <ion-card-title>{{ loadedCanchas[0].title }}</ion-card-title>
                  <p>{{loadedCanchas[0].description}}</p>
                </ion-card-header>
              </ion-card>
              <div class="flip-card-back">
                <div class="overlay">
                  <span>Inscripcion Anual: <br>$8,000.00 <br><br>Inscripcion Mensual: <br>$2,800.00</span>
                </div>
              </div>
            </div>
          </div>
        </ion-col> -->




        <ion-col size="12">
          <div class="container"><h1 style="text-align: center">INSTALACIONES</h1>
          </div>
        </ion-col>
        <ion-col size="6" size-md="6" size-sm="12" size-xs="12">
          <ion-card>
            <swiper>
              <ng-template swiperSlide>
                <img alt="Instalaciones" src="../../../assets/instalaciones2.jpg"/>
              </ng-template>
              <ng-template swiperSlide><img alt="Instalaciones" src="../../../assets/instalaciones.jpg"/></ng-template>
              <ng-template swiperSlide>Slide 3</ng-template>
            </swiper>
            <ion-card-header>
              <ion-card-title>{{ loadedCanchas[0].title }}</ion-card-title>
              <p>{{loadedCanchas[0].description}}</p>
            </ion-card-header>
            <ion-card-content>
              GOSA te ofrece las mejores instalaciones para practicar tennis
            </ion-card-content>
          </ion-card>

        </ion-col>

        <ion-col size="6" size-md="6" size-sm="12" size-xs="12">
          <ion-card>
            <ion-img [src]="loadedCanchas[0].imageUrl"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ loadedCanchas[0].title }}</ion-card-title>
              <p>{{loadedCanchas[0].description}}</p>
            </ion-card-header>
            <ion-card-content>
              GOSA te ofrece las mejores instalaciones para practicar tennis
            </ion-card-content>
          </ion-card>

        </ion-col>


      </ion-row>
    </ion-grid>

  </ion-content>

</div>




