  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio">
        <ion-label>GOSA</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="membresias">
        <ion-label>Membresias</ion-label>
        <ion-icon name="shirt-sharp"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="admin">
        <ion-label>Admin</ion-label>
        <ion-icon name="options-sharp"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>








